In [14]:
# Dependencies
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
import warnings
warnings.filterwarnings("ignore")

# File to Load 
customer_data_to_load = Path("Resources/customer_churn.csv")

# Read Data File and store into Pandas DataFrames
churn_df = pd.read_csv(customer_data_to_load)

# View the dataset
churn_df.head()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,Churn
0,Cameron Williams,42,11066.80,0,7.22,8,8/30/2013 7:00,"10265 Elizabeth Mission Barkerburgh, AK 89518",Harvey LLC,1
1,Kevin Mueller,41,11916.22,0,6.50,11,8/13/2013 0:38,"6157 Frank Gardens Suite 019 Carloshaven, RI 1...",Wilson PLC,1
2,Eric Lozano,38,12884.75,0,6.67,12,6/29/2016 6:20,"1331 Keith Court Alyssahaven, DE 90114","Miller, Johnson and Wallace",1
3,Phillip White,42,8010.76,0,6.71,10,4/22/2014 12:43,"13120 Daniel Mount Angelabury, WY 30645-4695",Smith Inc,1
4,Cynthia Norton,37,9191.58,0,5.56,9,1/19/2016 15:31,"765 Tricia Row Karenshire, MH 71730",Love-Jones,1

In [15]:
# Changing column names to make data cleaner
churn_df = churn_df.rename(columns = {'Total_Purchase': 'Total Purchase', 'Account_Manager' : 'Account Manager', 'Num_Sites': 'Number of Websites Used', 'Onboard_date' : 'Onboard Date'})

# View updated column names
churn_df.head()

,Names,Age,Total Purchase,Account Manager,Years,Number of Websites Used,Onboard Date,Location,Company,Churn
0,Cameron Williams,42,11066.80,0,7.22,8,8/30/2013 7:00,"10265 Elizabeth Mission Barkerburgh, AK 89518",Harvey LLC,1
1,Kevin Mueller,41,11916.22,0,6.50,11,8/13/2013 0:38,"6157 Frank Gardens Suite 019 Carloshaven, RI 1...",Wilson PLC,1
2,Eric Lozano,38,12884.75,0,6.67,12,6/29/2016 6:20,"1331 Keith Court Alyssahaven, DE 90114","Miller, Johnson and Wallace",1
3,Phillip White,42,8010.76,0,6.71,10,4/22/2014 12:43,"13120 Daniel Mount Angelabury, WY 30645-4695",Smith Inc,1
4,Cynthia Norton,37,9191.58,0,5.56,9,1/19/2016 15:31,"765 Tricia Row Karenshire, MH 71730",Love-Jones,1

In [16]:
# Summarize the data
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Names                    900 non-null    object
 1   Age                      900 non-null    int64
 2   Total Purchase           900 non-null    float64
 3   Account Manager          900 non-null    int64
 4   Years                    900 non-null    float64
 5   Number of Websites Used  900 non-null    int64
 6   Onboard Date             900 non-null    object
 7   Location                 900 non-null    object
 8   Company                  900 non-null    object
 9   Churn                    900 non-null    int64
dtypes: float64(2), int64(4), object(4)
memory usage: 70.4+ KB

In [17]:
# Drop the non-beneficial ID columns.
churn_df = churn_df.drop(["Names","Onboard Date","Location","Company"],1)
churn_df.head()

   Age  Total Purchase  Account Manager  Years  Number of Websites Used  Churn
0   42        11066.80                0   7.22                        8      1
1   41        11916.22                0   6.50                       11      1
2   38        12884.75                0   6.67                       12      1
3   42         8010.76                0   6.71                       10      1
4   37         9191.58                0   5.56                        9      1

In [18]:
# Determine the number of unique values in each column.
churn_df.nunique()

Age                         36
Total Purchase             900
Account Manager              2
Years                      418
Number of Websites Used     12
Churn                        2
dtype: int64

In [19]:
# Split our preprocessed data into our features and target arrays
y = churn_df['Churn'].values

# Separate the X variable, the features
x = churn_df.drop(columns='Churn').values

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(x_train[0])
hidden_nodes_layer1 =  400
hidden_nodes_layer2 = 200
hidden_nodes_layer3 = 100

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 400)               2400

 dense_5 (Dense)             (None, 200)               80200

 dense_6 (Dense)             (None, 100)               20100

 dense_7 (Dense)             (None, 1)                 101

=================================================================
Total params: 102801 (401.57 KB)
Trainable params: 102801 (401.57 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
# Train the model
fit_model = nn.fit(x_train_scaled,y_train,epochs=100)

Epoch 1/100
22/22 [==============================] - 1s 5ms/step - loss: 0.4039 - accuracy: 0.8311
Epoch 2/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2701 - accuracy: 0.8889
Epoch 3/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2633 - accuracy: 0.8889
Epoch 4/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2394 - accuracy: 0.9067
Epoch 5/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2432 - accuracy: 0.8993
Epoch 6/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2314 - accuracy: 0.9037
Epoch 7/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2246 - accuracy: 0.9081
Epoch 8/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2194 - accuracy: 0.9067
Epoch 9/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2129 - accuracy: 0.9141
Epoch 10/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2197 - accuracy: 0.9037
Epoch 11/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2185 - accuracy: 0.9141
Epoch 12/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2119 - accuracy: 0.9111
Epoch 13/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2035 - accuracy: 0.9126
Epoch 14/100
22/22 [==============================] - 0s 9ms/step - loss: 0.1985 - accuracy: 0.9185
Epoch 15/100
22/22 [==============================] - 0s 8ms/step - loss: 0.2027 - accuracy: 0.9141
Epoch 16/100
22/22 [==============================] - 0s 8ms/step - loss: 0.1932 - accuracy: 0.9185
Epoch 17/100
22/22 [==============================] - 0s 10ms/step - loss: 0.1950 - accuracy: 0.9141
Epoch 18/100
22/22 [==============================] - 0s 9ms/step - loss: 0.1951 - accuracy: 0.9156
Epoch 19/100
22/22 [==============================] - 0s 7ms/step - loss: 0.1860 - accuracy: 0.9244
Epoch 20/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1861 - accuracy: 0.9259
Epoch 21/100
22/22 [==============================] - 0s 12ms/step - loss: 0.1793 - accuracy: 0.9289
Epoch 22/100
22/22 [==============================] - 0s 9ms/step - loss: 0.1852 - accuracy: 0.9244
Epoch 23/100
22/22 [==============================] - 0s 9ms/step - loss: 0.1775 - accuracy: 0.9274
Epoch 24/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1879 - accuracy: 0.9185
Epoch 25/100
22/22 [==============================] - 0s 5ms/step - loss: 0.1849 - accuracy: 0.9200
Epoch 26/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1710 - accuracy: 0.9274
Epoch 27/100
22/22 [==============================] - 0s 7ms/step - loss: 0.1659 - accuracy: 0.9348
Epoch 28/100
22/22 [==============================] - 0s 7ms/step - loss: 0.1708 - accuracy: 0.9304
Epoch 29/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1712 - accuracy: 0.9244
Epoch 30/100
22/22 [==============================] - 0s 5ms/step - loss: 0.1606 - accuracy: 0.9333
Epoch 31/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1549 - accuracy: 0.9363
Epoch 32/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1516 - accuracy: 0.9319
Epoch 33/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2065 - accuracy: 0.9096
Epoch 34/100
22/22 [==============================] - 0s 7ms/step - loss: 0.1801 - accuracy: 0.9096
Epoch 35/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1626 - accuracy: 0.9200
Epoch 36/100
22/22 [==============================] - 0s 12ms/step - loss: 0.1538 - accuracy: 0.9289
Epoch 37/100
22/22 [==============================] - 0s 7ms/step - loss: 0.1439 - accuracy: 0.9319
Epoch 38/100
22/22 [==============================] - 0s 8ms/step - loss: 0.1418 - accuracy: 0.9333
Epoch 39/100
22/22 [==============================] - 0s 9ms/step - loss: 0.1364 - accuracy: 0.9348
Epoch 40/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1522 - accuracy: 0.9378
Epoch 41/100
22/22 [==============================] - 0s 9ms/step - loss: 0.1349 - accuracy: 0.9452
Epoch 42/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1816 - accuracy: 0.9230
Epoch 43/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1397 - accuracy: 0.9333
Epoch 44/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1330 - accuracy: 0.9407
Epoch 45/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1241 - accuracy: 0.9481
Epoch 46/100
22/22 [==============================] - 0s 8ms/step - loss: 0.1185 - accuracy: 0.9481
Epoch 47/100
22/22 [==============================] - 0s 5ms/step - loss: 0.1134 - accuracy: 0.9556
Epoch 48/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1133 - accuracy: 0.9452
Epoch 49/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1227 - accuracy: 0.9422
Epoch 50/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1115 - accuracy: 0.9481
Epoch 51/100
22/22 [==============================] - 0s 5ms/step - loss: 0.1405 - accuracy: 0.9378
Epoch 52/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1200 - accuracy: 0.9393
Epoch 53/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1023 - accuracy: 0.9615
Epoch 54/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0965 - accuracy: 0.9526
Epoch 55/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0906 - accuracy: 0.9630
Epoch 56/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0914 - accuracy: 0.9659
Epoch 57/100
22/22 [==============================] - 0s 8ms/step - loss: 0.0888 - accuracy: 0.9644
Epoch 58/100
22/22 [==============================] - 0s 7ms/step - loss: 0.0835 - accuracy: 0.9585
Epoch 59/100
22/22 [==============================] - 0s 11ms/step - loss: 0.1130 - accuracy: 0.9526
Epoch 60/100
22/22 [==============================] - 0s 9ms/step - loss: 0.0945 - accuracy: 0.9570
Epoch 61/100
22/22 [==============================] - 0s 8ms/step - loss: 0.0997 - accuracy: 0.9511
Epoch 62/100
22/22 [==============================] - 0s 11ms/step - loss: 0.1041 - accuracy: 0.9556
Epoch 63/100
22/22 [==============================] - 0s 7ms/step - loss: 0.0807 - accuracy: 0.9689
Epoch 64/100
22/22 [==============================] - 0s 9ms/step - loss: 0.0888 - accuracy: 0.9674
Epoch 65/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0957 - accuracy: 0.9511
Epoch 66/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1141 - accuracy: 0.9481
Epoch 67/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1016 - accuracy: 0.9585
Epoch 68/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0949 - accuracy: 0.9615
Epoch 69/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0923 - accuracy: 0.9570
Epoch 70/100
22/22 [==============================] - 0s 6ms/step - loss: 0.1664 - accuracy: 0.9274
Epoch 71/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0969 - accuracy: 0.9585
Epoch 72/100
22/22 [==============================] - 0s 8ms/step - loss: 0.0991 - accuracy: 0.9526
Epoch 73/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0862 - accuracy: 0.9570
Epoch 74/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0702 - accuracy: 0.9674
Epoch 75/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0674 - accuracy: 0.9674
Epoch 76/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0650 - accuracy: 0.9689
Epoch 77/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0825 - accuracy: 0.9674
Epoch 78/100
22/22 [==============================] - 0s 7ms/step - loss: 0.0667 - accuracy: 0.9763
Epoch 79/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0608 - accuracy: 0.9719
Epoch 80/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0532 - accuracy: 0.9748
Epoch 81/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0501 - accuracy: 0.9748
Epoch 82/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0550 - accuracy: 0.9763

Epoch 83/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0513 - accuracy: 0.9822
Epoch 84/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0491 - accuracy: 0.9807
Epoch 85/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0493 - accuracy: 0.9837
Epoch 86/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0465 - accuracy: 0.9807
Epoch 87/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0618 - accuracy: 0.9733
Epoch 88/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0474 - accuracy: 0.9822
Epoch 89/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0518 - accuracy: 0.9807
Epoch 90/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0460 - accuracy: 0.9807
Epoch 91/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0390 - accuracy: 0.9807
Epoch 92/100
22/22 [==============================] - 0s 6ms/step - loss: 0.0440 - accuracy: 0.9852
Epoch 93/100
22/22 [==============================] - 0s 7ms/step - loss: 0.0405 - accuracy: 0.9881
Epoch 94/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0375 - accuracy: 0.9896
Epoch 95/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0344 - accuracy: 0.9911
Epoch 96/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0399 - accuracy: 0.9822
Epoch 97/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0432 - accuracy: 0.9881
Epoch 98/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0524 - accuracy: 0.9793
Epoch 99/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0497 - accuracy: 0.9719
Epoch 100/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0873 - accuracy: 0.9733

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8/8 - 0s - loss: 1.5229 - accuracy: 0.8000 - 151ms/epoch - 19ms/step
Loss: 1.5229153633117676, Accuracy: 0.800000011920929

In [24]:
# Export our model to HDF5 file
nn.save('Churn_Optimization_1.h5')